@font-face {
  font-family: "Fjalla One";
  src: url("../fontes/Fjalla_One/FjallaOne-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fontes/Work_Sans/static/WorkSans-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}
header {
  text-align: center;
  margin-bottom: 20px;
}
img {
  width: 100px;
}
h1 {
  font-family: "Fjalla One", "sans-serif";
}
body {
  background-color: white;
  font-family: "Work Sans", "sans-serif";
}
form {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
}
fieldset {
  padding: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 15px;
}
legend {
  font-weight: bold;
  font-size: 18px;
  padding: 0 5px;
}
